@{
    ViewData["Title"] = "FAQs";
}

<div class="container my-5">

    <div class="jumbotron">
        <h1 class="display-4">Frequently Asked Questions</h1>
        <p class="lead">
            <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item"><a href="#faqOne">What is ThriveHaven Movies?</a></li>
                <li class="list-group-item"><a href="#faqTwo">How do I create an account?</a></li>
                <li class="list-group-item"><a href="#faqThree">Is my data secure?</a></li>
                <li class="list-group-item"><a href="#faqFour">Is my data shared with other people?</a></li>
                <li class="list-group-item"><a href="#faqFive">How do I purchase tickets?</a></li>
                <li class="list-group-item"><a href="#faqSix">Can I access previous orders and get refunds?</a></li>
                <li class="list-group-item"><a href="#faqSeven">How are my orders processed?</a></li>
                <li class="list-group-item"><a href="#faqEight">What payment methods are accepted?</a></li>
                <li class="list-group-item"><a href="#faqNine">Can I save default payment methods?</a></li>
                <li class="list-group-item"><a href="#faqTen">Is my card data secured?</a></li>
            </ul>
        </p>
    </div>
    

    <div id="faqOne" class="mb-5">
        <h2>What is ThriveHaven Movies?</h2>
        <p>
            ThriveHaven movies is a local theater company mmerse our customers into a whole new realm of cinematic wonder where every visit is a journey of excitement, comfort, and unparalleled service. Thrive Haven provides a 3d movie watching experience including a 4DX experience with motion moving chairs. To immerse you into the film. The seats recline for your comfort and there is food delivery to your seat through ordering through the app alongside a loyalty program to give you discounts on the purchase of future tickets and food from the concession stand. Thrive Haven also offers delivery of food to customers at home. While offering a wide range of films for customers to choose from.
        </p>
    </div>

    <div id="faqTwo" class="mb-5">
        <h2>How do I create an account?</h2>
        <p>
            ThriveHavens web systems handle the transaction of data using user accounts to store recent purchases and other data points for ease of purchase.
            Users can create an account by navigating to the register link inside the user icon in the top right of the webpage at anytime. Users are asked
            to enter a username, password, email, and their full name.
        </p>
    </div>

    <div id="faqThree" class="mb-5">
        <h2>Is my data secure?</h2>
        <p>
            ThriveHaven understands that people are worried about the risk of databreachs for any of their personal infromation. To prevent loss and maintain security
            of data, all data is stored in our database via an encrypted connection. Upon creating an account data is encrypted where it is stored in the encryption
            and processed with key only visible to the back end.
        </p>
    </div>

    <div id="faqFour" class="mb-5">
        <h2>Is my data shared with other people?</h2>
        <p>
            ThriveHaven will never share or sell your personal infromation without consent. Users can opt out at any time to withhold personal information
            as well as request only necessary cookie data be stored. We priortize the use of storing your information in our system only to enhance your user experience.
        </p>
    </div>

    <div id="faqFive" class="mb-5">
        <h2>How do I purchase tickets?</h2>
        <p>
            ThriveHaven has implemented web technologies to allow for the purchase of tickets online. Users may purchase tickets by registering for an account
            and clicking "tickets" from any desired movie available. Users are then navigated to the ticket screen where you can select your preferred time and day.
            From there all you need to do is add it to your cart and either purchase online or reserve the ticket and pay online or in the kiosk.
        </p>
    </div>

    <div id="faqSix" class="mb-5">
        <h2>Can I access previous orders and get refunds?</h2>
        <p>
            Can't make it anymore? Thats okay! Registered users can get refunds on any of their purchased items up till showtime. Just navigate to your user
            preferences and click on recent orders. From there you can view your purchases and request a refund. Once the request is submitted your refund will be processed
            and money transfered back to your account. Users can expect payments within 4 business days.
        </p>
    </div>

    <div id="faqSeven" class="mb-5">
        <h2>How are my orders processed?</h2>
        <p>
            All purchases are processed via encrytped connections to secure and prevent against data theft of private card information. Once a ticket is purchased
            ticket data is stored where you can access it at any time. Users may also expect a reciept of their order upon purchase
        </p>
    </div>

    <div id="faqEight" class="mb-5">
        <h2>What payment methods are accepted?</h2>
        <p>
            ThriveHaven acceptes payment methods such as Visa, MasterCard, American Express, Discover, Apple Pay, Google Pay, PayPal, giftcards, or simply buy now and pay later at the kiosk.
        </p>
    </div>

    <div id="faqNine" class="mb-5">
        <h2>Can I save my payment methods?</h2>
        <p>
            ThriveHaven allows registered users to store their card information for ease of purchase. To save a default payment method
            either click "Save as default payment method?" next time you check out or navigate to the account preferences
            in the top right of your screen inside the user icon to manually add or edit your card information.
        </p>
    </div>

    <div id="faqTen" class="mb-5">
        <h2>Is my card data secured?</h2>
        <p>
            We understand the importance of keep your card infromation secure and out of the hands of others.
            To keep any card information secure ThriveHaven implements the storage of the processing of payment infromation via encrypted connections.
        </p>
    </div>
</div>
